Repository AT-PHPIntership/booking-clinic, pull requests merged in 2018-07, with the labels that each got.

#4 create template PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: in progress

#6 [Database]Design Admin Table, create model, migration, seeder
  app/Admin.php
  database/migrations/2018_07_20_030248_create_admins_table.php
  database/seeds/AdminsTableSeeder.php
Labels: admin, in progress

#5 add admin dashboard template
  public/css/admin/dashboard.css
  public/css/bootstrap.css
  resources/views/admin/dashboard.blade.php
  resources/views/admin/layouts/app.blade.php
  resources/views/admin/layouts/partials/navbar.blade.php
  resources/views/admin/layouts/partials/sidebar.blade.php
  routes/web.php
Labels: admin, in progress

#7 config circleci check
  .circleci/config.yml
  app/Console/Kernel.php
  app/Exceptions/Handler.php
  app/Http/Controllers/Auth/RegisterController.php
  app/Http/Middleware/RedirectIfAuthenticated.php
  composer.json
  composer.lock
  phpcs.xml
  phpmd.xml
Labels: in progress

#8 [Database] list all clinic_types
  app/ClinicType.php
  app/Http/Controllers/Admin/ClinicTypeController.php
  database/migrations/2018_07_20_072548_create_clinic_types_table.php
  database/seeds/ClinicTypesTableSeeder.php
  database/seeds/DatabaseSeeder.php
  resources/views/admin/clinic_types/index.blade.php
  resources/views/admin/layouts/partials/sidebar.blade.php
  routes/web.php
  tests/Feature/ExampleTest.php
Labels: admin, in progress

#10 admin add clinic types
  app/Http/Controllers/Admin/ClinicTypeController.php
  app/Http/Requests/Admin/ClinicTypeRequest.php
  resources/lang/en/admin/clinic_type.php
  resources/views/admin/clinic_types/create.blade.php
  resources/views/admin/clinic_types/index.blade.php
  resources/views/admin/layouts/partials/block-flash.blade.php
Labels: admin, in progress

#12 show all user
  app/Http/Controllers/Admin/UserController.php
  app/User.php
  resources/lang/en/admin/dashboard.php
  resources/lang/en/admin/layout.php
  resources/lang/en/admin/user.php
  resources/views/admin/dashboard.blade.php
  resources/views/admin/layouts/partials/navbar.blade.php
  resources/views/admin/layouts/partials/sidebar.blade.php
  resources/views/admin/users/index.blade.php
  routes/web.php
Labels: admin, in progress

#16 view detail user
  app/Http/Controllers/Admin/UserController.php
  app/User.php
  resources/lang/en/admin/user.php
  resources/views/admin/users/index.blade.php
  resources/views/admin/users/show.blade.php
Labels: admin, in progress

#17 Database clinics
  app/Clinic.php
  app/ClinicType.php
  app/Http/Controllers/Admin/ClinicController.php
  database/factories/ClinicFactory.php
  database/migrations/2018_07_24_135121_create_clinics_table.php
  database/seeds/ClinicTableSeeder.php
  database/seeds/DatabaseSeeder.php
  resources/lang/en/admin/clinic.php
  resources/views/admin/clinics/index.blade.php
  resources/views/admin/layouts/partials/sidebar.blade.php
  routes/web.php
Labels: admin, database

#18 admin add clinic
  app/Clinic.php
  app/Http/Controllers/Admin/ClinicController.php
  app/Http/Requests/Admin/ClinicRequest.php
  resources/lang/en/admin/clinic.php
  resources/lang/en/admin/layout.php
  resources/views/admin/clinics/create.blade.php
  resources/views/admin/clinics/index.blade.php
  resources/views/admin/layouts/app.blade.php
  resources/views/admin/users/index.blade.php
Labels: admin, in progress

#15 Login admin function
  app/Admin.php
  app/Exceptions/Handler.php
  app/Http/Controllers/Admin/Auth/ForgotPasswordController.php
  app/Http/Controllers/Admin/Auth/LoginController.php
  app/Http/Controllers/Admin/Auth/RegisterController.php
  app/Http/Controllers/Admin/Auth/ResetPasswordController.php
  app/Http/Controllers/HomeController.php
  app/Http/Kernel.php
  app/Http/Middleware/AdminMiddleware.php
  app/Http/Middleware/RedirectIfAuthenticated.php
  config/auth.php
  resources/views/admin/auth/login.blade.php
  resources/views/admin/auth/passwords/email.blade.php
  resources/views/admin/auth/passwords/reset.blade.php
  resources/views/admin/auth/register.blade.php
  resources/views/admin/clinics/edit.blade.php
  resources/views/admin/layouts/partials/navbar.blade.php
  resources/views/home.blade.php
  resources/views/layouts/app.blade.php
  routes/web.php
Labels: admin, in progress

#14 Admin delete clinic types
  app/Http/Controllers/Admin/ClinicTypeController.php
  public/js/admin/dashboard.js
  resources/lang/en/admin/clinic_type.php
  resources/lang/en/admin/layout.php
  resources/views/admin/clinic_types/create.blade.php
  resources/views/admin/clinic_types/edit.blade.php
  resources/views/admin/clinic_types/index.blade.php
  resources/views/admin/layouts/app.blade.php
  resources/views/admin/layouts/partials/block-flash.blade.php
Labels: admin, in progress

#20 Admin edit clinic
  app/Http/Controllers/Admin/ClinicController.php
  app/Http/Requests/Admin/ClinicRequest.php
  database/factories/ClinicFactory.php
  resources/lang/en/admin/clinic.php
  resources/views/admin/clinics/edit.blade.php
  resources/views/admin/clinics/index.blade.php
  resources/views/admin/layouts/partials/sidebar.blade.php
Labels: admin, in progress

#19 Dusk settup
  .circleci/config.yml
  .env.dusk.local
  .env.testing
  composer.json
  composer.lock
  config/database.php
  database/factories/AdminFactory.php
  tests/Browser/Admin/ListClinicTypeTest.php
  tests/Browser/Pages/Admin/ListClinicType.php
  tests/Browser/Pages/Admin/Page.php
  tests/Browser/Pages/Page.php
  tests/Browser/console/.gitignore
  tests/Browser/screenshots/.gitignore
  tests/DuskTestCase.php
Labels: in progress

#22 upload clinic images
  app/Clinic.php
  app/ClinicImage.php
  app/Http/Controllers/Admin/ClinicController.php
  app/Http/Requests/Admin/ClinicRequest.php
  database/factories/ClinicImageFactory.php
  database/migrations/2018_07_27_075508_create_clinic_images_table.php
  database/seeds/ClinicTableSeeder.php
  public/images/clinic-1.png
  public/images/clinic-2.png
  public/images/clinic-3.png
  public/images/clinic-4.png
  public/images/clinic-5.png
  resources/lang/en/admin/clinic.php
  resources/views/admin/clinics/create.blade.php
  resources/views/admin/clinics/edit.blade.php
Labels: admin, database, in progress

#26 admin delete clinic
  app/Http/Controllers/Admin/ClinicController.php
  resources/lang/en/admin/clinic.php
  resources/views/admin/clinics/index.blade.php
Labels: admin, in progress

#25 test add new clinic
  .env.dusk.local
  database/factories/ClinicTypeFactory.php
  tests/Browser/Admin/Clinic/CreateClinicTest.php
  tests/Browser/Admin/Clinic/stuff/avatar.png
  tests/Browser/Admin/Clinic/stuff/doc.txt
  tests/Browser/Pages/Admin/Clinic/CreateClinicPage.php
Labels: admin, in progress, test

#21 Test admin managements clinic types
  tests/AdminDuskTestCase.php
  tests/Browser/Admin/ClinicType/AddClinicTypeTest.php
  tests/Browser/Admin/ClinicType/DeleteClinicTypeTest.php
  tests/Browser/Admin/ClinicType/EditClinicTypeTest.php
  tests/Browser/Admin/ClinicType/ListClinicTypeTest.php
  tests/Browser/Admin/ListClinicTypeTest.php
  tests/Browser/Pages/Admin/ClinicType/AddClinicType.php
  tests/Browser/Pages/Admin/ClinicType/EditClinicType.php
  tests/Browser/Pages/Admin/ClinicType/ListClinicType.php
  tests/Browser/Pages/Admin/Page.php
Labels: admin, in progress, test

#28 sqlite for circleci
  .circleci/config.yml
  .env.testing
Labels: in progress

#29 test dusk for updating clinic [Admin]
  tests/Browser/Admin/Clinic/UpdateClinicTest.php
  tests/Browser/Pages/Admin/Clinic/UpdateClinicPage.php
Labels: admin, in progress, test
