Repository AT-PHPIntership/booking-clinic, pull requests merged in 2018-08, with the labels that each got.

#23 Admin show detail clinic
  app/Http/Controllers/Admin/ClinicController.php
  public/js/bootstrap.min.js
  public/js/google_map_config.js
  resources/lang/en/admin/clinic.php
  resources/lang/en/admin/layout.php
  resources/views/admin/clinics/index.blade.php
  resources/views/admin/clinics/show.blade.php
  resources/views/admin/layouts/app.blade.php
  resources/views/layouts/partials/carousel.blade.php
  resources/views/layouts/partials/google_map.blade.php
Labels: admin, in progress

#31 test delete clinic [Admin]
  tests/Browser/Admin/Clinic/DeleteClinicTest.php
  tests/Browser/Pages/Admin/Clinic/ListClinicPage.php
Labels: admin, in progress, test

#33 Admin clinic dashboard page
  app/helpers.php
  composer.json
  config/app.php
  resources/lang/en/admin_clinic/dashboard.php
  resources/lang/en/admin_clinic/layout.php
  resources/views/admin/layouts/partials/sidebar.blade.php
  resources/views/admin_clinic/dashboard.blade.php
  resources/views/admin_clinic/layouts/app.blade.php
  resources/views/admin_clinic/layouts/partials/block-flash.blade.php
  resources/views/admin_clinic/layouts/partials/navbar.blade.php
  resources/views/admin_clinic/layouts/partials/sidebar.blade.php
Labels: admin_clinic, in progress

#32 test-show-detail-clinic
  resources/views/admin/clinics/show.blade.php
  tests/Browser/Admin/Clinic/ShowClinicTest.php
  tests/Browser/Pages/Admin/Clinic/ShowClinicPage.php
Labels: admin, in progress, test

#36 Test show detail user
  database/factories/UserFactory.php
  resources/lang/en/admin/user.php
  resources/views/admin/users/show.blade.php
  tests/Browser/Admin/Users/ShowUserTest.php
  tests/Browser/Pages/Admin/Users/ListUserPage.php
  tests/Browser/Pages/Admin/Users/ShowUserPage.php
Labels: admin, in progress, test

#37 add slug to clinic
  app/Clinic.php
  app/Http/Controllers/Admin/ClinicController.php
  database/factories/ClinicFactory.php
  database/migrations/2018_07_24_135121_create_clinics_table.php
  resources/lang/en/admin/clinic.php
  resources/views/admin/clinics/show.blade.php
Labels: admin_clinic, database, in progress

#34 Create Appointments migrate
  app/Appointment.php
  app/Clinic.php
  app/User.php
  database/factories/AppointmentFactory.php
  database/migrations/2018_08_01_180746_create_appointments_table.php
  database/seeds/AppointmentTableSeeder.php
  database/seeds/DatabaseSeeder.php
Labels: admin_clinic, in progress

#35 send mail register clinic
  .env.dusk.local
  .env.testing
  app/Admin.php
  app/Clinic.php
  app/Http/Controllers/Admin/Auth/RegisterController.php
  app/Http/Controllers/Admin/ClinicController.php
  app/Jobs/SendRegisterEmailAdmin.php
  app/Mail/RegisterClinic.php
  database/migrations/2018_07_20_030248_create_admins_table.php
  database/migrations/2018_08_02_143915_create_jobs_table.php
  resources/lang/en/admin/register.php
  resources/views/admin/auth/register.blade.php
  resources/views/mails/en/register_clinic.blade.php
Labels: admin_clinic, in progress

#39 Admin show list appointments
  app/Http/Controllers/AdminClinic/AppointmentController.php
  app/Http/Controllers/AdminClinic/BaseController.php
  composer.json
  composer.lock
  config/app.php
  public/css/admin/dashboard.css
  public/js/admin_clinic/appointment.js
  resources/lang/en/admin_clinic/appointment.php
  resources/views/admin_clinic/appointments/index.blade.php
  resources/views/admin_clinic/layouts/app.blade.php
  resources/views/layouts/partials/appointment.blade.php
  routes/web.php
Labels: admin_clinic, in progress

#42 Edit clinic page for clinic admin
  app/Clinic.php
  app/Http/Controllers/AdminClinic/ProfileController.php
  app/Http/Requests/AdminClinic/ClinicRequest.php
  public/css/admin_clinic/update_clinic_image.css
  public/js/admin/dashboard.js
  public/js/admin_clinic/update_clinic_image.js
  resources/lang/en/admin_clinic/profile.php
  resources/views/admin_clinic/layouts/app.blade.php
  resources/views/admin_clinic/layouts/partials/update_clinic_image.blade.php
  resources/views/admin_clinic/profile/edit/clinic.blade.php
  resources/views/admin_clinic/profile/show.blade.php
  resources/views/layouts/partials/carousel.blade.php
  resources/views/layouts/partials/google_map.blade.php
  routes/web.php
  storage/debugbar/.gitignore
Labels: admin_clinic, in progress

#41 Admin clinic show appointment detail, confirm status and send email confirm to user
  app/Http/Controllers/AdminClinic/AppointmentController.php
  app/Mail/AppointmentConfirmationEmail.php
  resources/lang/en/admin_clinic/appointment.php
  resources/views/admin_clinic/appointments/index.blade.php
  resources/views/admin_clinic/appointments/show.blade.php
  resources/views/mails/en/appointment_confirmation.blade.php
Labels: admin_clinic, in progress

#43 Add calendar appointment
  app/Appointment.php
  app/Http/Controllers/Admin/Auth/RegisterController.php
  app/Http/Controllers/AdminClinic/CalendarController.php
  composer.json
  composer.lock
  config/app.php
  resources/lang/en/admin_clinic/calendar.php
  resources/views/admin_clinic/calendar/index.blade.php
  resources/views/admin_clinic/layouts/app.blade.php
  resources/views/admin_clinic/layouts/partials/sidebar.blade.php
  routes/web.php
Labels: admin_clinic, in progress

#44 add examination table
  app/Appointment.php
  app/Examination.php
  database/factories/ExaminationFactory.php
  database/migrations/2018_08_07_031709_create_examinations_table.php
  database/seeds/DatabaseSeeder.php
  database/seeds/ExaminationsTableSeeder.php
Labels: admin_clinic, in progress

#47 Update login information for clinic admin
  app/Http/Controllers/AdminClinic/ProfileController.php
  app/Http/Requests/AdminClinic/ProfileAdminRequest.php
  app/Rules/AdminClinic/ExistedPassword.php
  public/css/admin_clinic/loader.css
  public/js/admin_clinic/change_username.js
  resources/lang/en/admin_clinic/profile.php
  resources/views/admin_clinic/layouts/partials/change_username.blade.php
  resources/views/admin_clinic/layouts/partials/sidebar.blade.php
  resources/views/admin_clinic/profile/edit/admin.blade.php
  resources/views/admin_clinic/profile/show.blade.php
  routes/web.php
Labels: admin_clinic, in progress

#46 Refactor admin view
  .env.dusk.local
  app/Http/Controllers/Admin/ClinicController.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Controllers/AdminClinic/AppointmentController.php
  app/helpers.php
  config/app.php
  public/css/admin/dashboard.css
  resources/views/admin/clinics/index.blade.php
  resources/views/admin/clinics/show.blade.php
  resources/views/admin/layouts/partials/navbar.blade.php
  resources/views/admin/layouts/partials/sidebar.blade.php
  resources/views/admin/users/index.blade.php
  resources/views/admin_clinic/appointments/index.blade.php
  resources/views/admin_clinic/layouts/partials/navbar.blade.php
  resources/views/admin_clinic/profile/show.blade.php
  resources/views/layouts/partials/carousel.blade.php
Labels: admin_clinic, in progress

#49 appointment filter
  app/Appointment.php
  app/Http/Controllers/AdminClinic/AppointmentController.php
  resources/lang/en/admin_clinic/appointment.php
  resources/views/admin_clinic/appointments/index.blade.php
Labels: admin_clinic, in progress

#51 Api get list clinic types
  app/Exceptions/Handler.php
  app/Http/Controllers/API/User/BaseController.php
  app/Http/Controllers/API/User/ClinicTypeController.php
  app/Traits/apiResponser.php
  composer.json
  composer.lock
  config/auth.php
  config/define.php
  docs/api-references/api.md
  docs/api-references/list_clinic_type.md
  routes/api.php
Labels: api, in progress, user

#58 fix apiResponse
  app/Traits/apiResponser.php
  docs/api-references/list_clinic_type.md
Labels: hotfix, in progress, user

#53 Test api get list clinic types
  .circleci/config.yml
  tests/Feature/API/ClinicTypeTest.php
  tests/Feature/ExampleTest.php
Labels: in progress, test, user

#54 Api get list clinic
  app/Clinic.php
  app/Http/Controllers/API/User/ClinicController.php
  docs/api-references/clinic.md
  routes/api.php
Labels: api, in progress, user

#52 API user register, login and logout
  app/Http/Controllers/API/User/AuthController.php
  app/Http/Requests/User/UserLoginRequest.php
  app/Http/Requests/User/UserRegisterRequest.php
  app/Providers/AuthServiceProvider.php
  app/User.php
  config/define.php
  database/migrations/2018_08_14_000424_modify_user_table.php
  docs/api-references/user.md
  resources/lang/en/api/user.php
  routes/api.php
Labels: api, in progress, user

#61 template show clinics for user
  app/Http/Controllers/User/ClinicController.php
  public/js/user/infobox.js
  public/js/user/map_listing.js
  resources/views/user/clinic/index.blade.php
  routes/web.php
Labels: in progress, user

#56 Api get detail clinic
  app/Http/Controllers/API/User/ClinicController.php
  docs/api-references/clinic.md
  resources/lang/en/api/clinic.php
Labels: api, in progress, user

#59 show clinic types using api
  public/images/user/hero_home_bg_1.svg
  public/js/user/clinic_type.js
  resources/lang/en/user/layout.php
  resources/views/user/layouts/app.blade.php
  resources/views/user/layouts/partials/navbar.blade.php
Labels: in progress, user

#60 Test api user register
  tests/Feature/API/UserRegisterTest.php
  tests/TestCase.php
Labels: api, in progress, user

#62 Test api user login
  tests/Feature/API/UserLoginTest.php
  tests/TestCase.php
Labels: api, in progress, test

#66 Breadcrumb admin
  composer.json
  composer.lock
  config/breadcrumbs.php
  resources/lang/en/admin/breadcrumb.php
  resources/lang/en/admin/clinic.php
  resources/lang/en/admin/user.php
  resources/views/admin/clinic_types/create.blade.php
  resources/views/admin/clinic_types/edit.blade.php
  resources/views/admin/clinic_types/index.blade.php
  resources/views/admin/clinics/create.blade.php
  resources/views/admin/clinics/edit.blade.php
  resources/views/admin/clinics/index.blade.php
  resources/views/admin/clinics/show.blade.php
  resources/views/admin/dashboard.blade.php
  resources/views/admin/layouts/app.blade.php
  resources/views/admin/users/index.blade.php
  resources/views/admin/users/show.blade.php
  routes/breadcrumbs.php
  routes/web.php
  tests/Browser/Pages/Admin/Users/ListUserPage.php
Labels: admin, in progress

#67 Breadcrumb admin clinic
  app/Http/Controllers/AdminClinic/ProfileController.php
  resources/lang/en/admin_clinic/breadcrumb.php
  resources/views/admin_clinic/appointments/index.blade.php
  resources/views/admin_clinic/appointments/show.blade.php
  resources/views/admin_clinic/calendar/index.blade.php
  resources/views/admin_clinic/dashboard.blade.php
  resources/views/admin_clinic/layouts/app.blade.php
  resources/views/admin_clinic/profile/edit/admin.blade.php
  resources/views/admin_clinic/profile/edit/clinic.blade.php
  resources/views/admin_clinic/profile/show.blade.php
  routes/breadcrumbs.php
Labels: admin_clinic

#64 user login/logout using api
  composer.json
  composer.lock
  config/app.php
  public/images/user/hero_bg_1.svg
  public/js/user/auth/helper.js
  public/js/user/auth/logged.js
  public/js/user/auth/login.js
  resources/lang/en/user/layout.php
  resources/lang/en/user/login.php
  resources/views/user/layouts/app.blade.php
  resources/views/user/layouts/partials/navbar.blade.php
  resources/views/user/login.blade.php
  routes/api.php
Labels: user

#71 api user
  docs/api-references/user.md
  routes/api.php
Labels: user

#68 Api user change password
  app/Http/Controllers/API/User/AuthController.php
  app/Http/Requests/User/UserChangePassRequest.php
  app/Rules/AdminClinic/ExistedPassword.php
  docs/api-references/user.md
  resources/lang/en/api/user.php
  routes/api.php
Labels: api, user

#70 Show clinics using api
  composer.json
  composer.lock
  public/images/user/pin/Doctors.png
  public/js/user/clinics_index.js
  public/js/user/map_listing.js
  public/js/user/message.js
  resources/lang/en/user/clinic.php
  resources/views/user/clinic/index.blade.php
  resources/views/user/layouts/app.blade.php
  resources/views/user/layouts/partials/navbar.blade.php
Labels: in progress, user

#73 fix api clinic
  app/ClinicImage.php
  app/Http/Controllers/API/User/ClinicController.php
  docs/api-references/clinic.md
Labels: user

#69 user-view-profile
  app/Http/Controllers/User/ProfileController.php
  public/js/user/auth/logged.js
  public/js/user/profile.js
  resources/lang/en/user/breadcrumb.php
  resources/lang/en/user/layout.php
  resources/lang/en/user/profile.php
  resources/views/user/layouts/partials/navbar.blade.php
  resources/views/user/profile.blade.php
  routes/breadcrumbs.php
  routes/web.php
Labels: user

#65 Register user using api
  app/Http/Controllers/API/User/AuthController.php
  docs/api-references/user.md
  public/js/user/auth/register.js
  resources/lang/en/api/user.php
  resources/views/user/layouts/partials/register.blade.php
  resources/views/user/register.blade.php
Labels: api, user

#76 user change password
  app/Http/Controllers/User/ProfileController.php
  public/js/user/change_password.js
  resources/lang/en/user/breadcrumb.php
  resources/lang/en/user/change_password.php
  resources/lang/en/user/layout.php
  resources/views/user/change_password.blade.php
  resources/views/user/layouts/partials/navbar.blade.php
  routes/breadcrumbs.php
  routes/web.php
Labels: user

#77 Show detail clinic template for user
  app/Http/Controllers/User/ClinicController.php
  public/css/user/date_picker.css
  public/images/user/arrow_left.png
  public/images/user/arrow_right.png
  public/images/user/checkbox.png
  public/js/user/bootstrap-datepicker.js
  resources/lang/en/user/clinic.php
  resources/views/user/clinic/show.blade.php
  resources/views/user/layouts/app.blade.php
Labels: in progress, user

#63 Test api user logout
  tests/Feature/API/UserLogoutTest.php
Labels: api, in progress, user

#79 Api list appointments
  app/Appointment.php
  app/Http/Controllers/API/User/AppointmentController.php
  app/helpers.php
  composer.lock
  docs/api-references/appointment.md
Labels: api, user

#80 Test API clinics list
  tests/Feature/API/GetListClinicsTest.php
Labels: api, test, user

#82 user booking appointment
  app/Http/Controllers/User/BookingController.php
  public/js/user/auth/helper.js
  public/js/user/auth/logged.js
  public/js/user/booking_appointment.js
  public/js/user/booking_datetime.js
  public/js/user/booking_success.js
  public/js/user/message.js
  resources/lang/en/user/booking.php
  resources/lang/en/user/breadcrumb.php
  resources/lang/en/user/clinic.php
  resources/views/user/booking.blade.php
  resources/views/user/booking_success.blade.php
  resources/views/user/clinic/show.blade.php
  routes/breadcrumbs.php
  routes/web.php
Labels: user

#81 List appointments using API
  app/Http/Controllers/User/AppointmentController.php
  composer.lock
  public/css/user/custom.css
  public/js/user/appointments_index.js
  public/js/user/auth/logged.js
  public/js/user/custom/paginate.js
  public/js/user/helper.js
  public/js/user/message.js
  resources/lang/en/api/appointment.php
  resources/lang/en/user/appointment.php
  resources/lang/en/user/breadcrumb.php
  resources/lang/en/user/layout.php
  resources/views/user/appointment/index.blade.php
  resources/views/user/layouts/app.blade.php
  resources/views/user/layouts/partials/filter_listing.blade.php
  resources/views/user/layouts/partials/navbar.blade.php
  resources/views/user/layouts/partials/paginate.blade.php
  routes/breadcrumbs.php
  routes/web.php
Labels: user

#85 Show detail clinic using api
  public/js/user/clinic_show.js
  public/js/user/clinics_index.js
  resources/views/user/clinic/index.blade.php
  resources/views/user/clinic/show.blade.php
  resources/views/user/error/404.blade.php
  routes/web.php
Labels: user

#84 Api cancel appointment
  app/Appointment.php
  app/Http/Controllers/API/User/AppointmentController.php
  docs/api-references/appointment.md
  resources/lang/en/api/user.php
  routes/api.php
Labels: api, user

#83 Filter list appointments
  public/js/user/appointments_index.js
  public/js/user/custom/paginate.js
  public/js/user/helper.js
  public/js/user/message.js
  resources/lang/en/user/filter.php
  resources/lang/en/user/result.php
  resources/views/user/appointment/index.blade.php
  resources/views/user/layouts/partials/filter_listing.blade.php
  resources/views/user/layouts/partials/results.blade.php
Labels: user

#87 Cancel appointment using api
  public/css/jquery-confirm.min.css
  public/css/user/custom.css
  public/js/jquery-confirm.min.js
  public/js/user/appointments_index.js
  public/js/user/message.js
  resources/lang/en/user/appointment.php
  resources/views/user/appointment/index.blade.php
Labels: user

#50 Admin clinic create examination
  app/Http/Controllers/AdminClinic/ExaminationController.php
  public/js/admin/dashboard.js
  public/js/admin/message.js
  public/js/admin_clinic/appointment.js
  public/js/admin_clinic/dashboard.js
  public/js/admin_clinic/element_html.js
  public/js/admin_clinic/examination.js
  public/js/feather.min.js
  public/js/jquery.min.js
  public/js/popper.min.js
  public/messages.js
  resources/lang/en/admin/appointment.php
  resources/lang/en/admin_clinic/appointment.php
  resources/lang/en/admin_clinic/examination.php
  resources/views/admin_clinic/appointments/show.blade.php
  resources/views/admin_clinic/dashboard.blade.php
  resources/views/admin_clinic/layouts/app.blade.php
  resources/views/layouts/partials/examination.blade.php
  resources/views/mails/en/appointment_confirmation.blade.php
  routes/web.php
Labels: admin_clinic, in progress

#89 fix/show more booking info, fix layout profile, navbar
  public/js/user/booking_appointment.js
  public/js/user/booking_datetime.js
  public/js/user/booking_success.js
  resources/lang/en/user/home.php
  resources/lang/en/user/layout.php
  resources/views/user/change_password.blade.php
  resources/views/user/edit_profile.blade.php
  resources/views/user/home.blade.php
  resources/views/user/layouts/partials/navbar.blade.php
  resources/views/user/layouts/partials/results.blade.php
  resources/views/user/profile.blade.php
Labels: fix, user

#91 Filter clinics user page
  public/js/user/clinics_index.js
  public/js/user/custom/paginate.js
  resources/lang/en/user/filter.php
  resources/views/user/clinic/index.blade.php
Labels: user

#93 Show examination result
  app/Http/Controllers/API/User/AppointmentController.php
  docs/api-references/appointment.md
  public/css/user/custom.css
  public/js/user/appointments_index.js
  public/js/user/element_html.js
  public/js/user/message.js
  resources/lang/en/api/user.php
  resources/lang/en/user/appointment.php
  resources/views/user/appointment/index.blade.php
  routes/api.php
Labels: api, user

#90 Add breadcrumbs
  public/css/user/custom.css
  public/js/user/appointments_index.js
  resources/lang/en/user/breadcrumb.php
  resources/views/user/appointment/index.blade.php
  resources/views/user/clinic/index.blade.php
  resources/views/user/clinic/show.blade.php
  routes/breadcrumbs.php
Labels: user

#96 fix booking date not correct
  public/js/user/booking_datetime.js
Labels: hotfix, user
